@import '../../variable';

.first-container {
    margin: auto;
    background-size: cover;
    max-width: 1600px;
    background: $backGrondBasic;
    padding-bottom: 115px;
}

.post-card {
    display: flex;
    justify-content:space-around;
    padding-bottom: 115px;
}