@import '../../variable';

.contact-post {
    margin: auto;
    background-size: cover;
    max-width: 1600px;
    background: $backGrondDark;
}

.form {
   display: flex;
   justify-content: space-around;
   padding: 50px;
   text-align: center;

   &__data {
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__message {
        display: inline-block;
        vertical-align: top;
        padding-left: 30px;
        padding-right: 30px;
    }

}

.form__message-control {
    height: 170px;
}

.text-muted-error{
    color: $textColorLight;
    font-size: large;
}