@import '../../variable';

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px 0px;
    background-color: $backGrondBasic;


    &__nav-bar {

        display: flex;
        align-items: center;
    }
}

.menu-mobile {
    display: none;
    text-decoration: none;
    color: $textColorDark;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1em;
    padding: 25px;

    &:hover {
        color: $elemActiveColor;
    }
}


@media (max-width: 1600px) {
    .container {
        max-width: 800px;
    }

    .menu-mobile {
        display: block;
    }

    .header__nav-bar {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 650px;
    }

    .menu-mobile {
        display: block;
    }

    .header__nav-bar {
        display: none;
    }
}

@media (max-width: 425px) {

    .content {
        flex-basis: 100%;
        padding: 10px;
    }

    aside {
        flex-basis: 100%;
        margin-left: 0px;
        padding: 10px;
    }

    .menu-mobile {
        padding: 10px;
        font-size: 50px;
        text-decoration: none;
        color: $textColorDark;
    }

}


.level1 {
    text-align: center;
}

li {
    position: relative;
    background-color: $backGrondBasic;
    list-style-type: none;
}

.burger {
    display: block;
    text-decoration: none;
    color: $textColorDark;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1em;
    padding: 25px;

    &:hover {
        color: $textColorLight;
        background-color: $elemActiveColor;
    }
}

.level1>li:hover .level2 {
    display: block;
}

.level2 {
    display: none;
    position: absolute;
}