@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



$textColorDark:  #000000;
$textColorLight:  #FFFFFF;

$elemAcivColor: #00897B;
$elemPassivColor:  #FFFFFF;
$elemDarkColor:  #000000;
$elemPriceColor:  #3949AB;

$backGrndBasic:  #FFFFFF;
$backGrndSky:  #E4FDF9;
$backGrndGrey: #F0F1F1;
$backGrndBlog: #E4F1FD;
$backGrndDark: rgba(34, 35, 33, 0.72);